<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> <!-- Automáticamente maneja el retroceso -->
    </ion-buttons>

    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-toggle>
        Permitir eliminar citas en el inicio
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
